.title {
  color: var(--primary-color);
}

.text {
  font: var(--font-size-medium);
  color: var(--secondary-color);

  &.align-center {
    text-align: center;
  }
  &.align-right {
    text-align: right;
  }

  &.align-left{
    text-align: left;
  }
}

.error{
  .title{
    color: var(--red-light);
  }

  .text{
    color: var(--red-dark);

  }
}