.title {
  color: var(--primary-color);
}


.text {
  color: var(--secondary-color);

  &.align-center {
    text-align: center;
  }
  &.align-right {
    text-align: right;
  }

  &.align-left{
    text-align: left;
  }
}

.error{
  .title{
    color: var(--red-light);
  }

  .text{
    color: var(--red-dark);

  }
}

.medium{
  .title{
    font: var(--font-large);
  }

  .text{
    font: var(--font-base);

  }
}

.large{
  .title{
    font: var(--font-x-large);
  }

  .text{
    font: var(--font-large);

  }
}