.app {
  &.green {
    --bg-color: #37a34b;
    --inverted-bg-color: #F4FBF5;

    --primary-color: #1c732a;

    --secondary-color: #F4FBF5;

    --inverted-primary-color: #b0c3ff;
    --inverted-secondary-color: #7c0b0b;

    // Skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);


    // code
    --code-bg: #4b9a57;
    .page-container {
      color: var(--secondary-color);
      overflow-y: auto;
      flex-grow: 1;
      padding: 15px;
      height: calc(100vh - 50px);

      ._title_bdl0z_1{
        color: var(--secondary-color);
      }

      ._outline_1enwp_10 {
        color: var(--secondary-color);
        border: 1px solid var(--secondary-color);
      }


    }
  }
}

